<nav>
  <%= form_tag(sections_path, method: :get) do %>
    <%= text_field_tag :term %>
    <%= submit_tag 'Search' %>
  <% end %>
</nav>
<h1>Sections</h1>

<ul>
  <% @sections.each do |section| %>
    <li><%= link_to section.name, section_path(section) %></li>
  <% end %>
</ul>
<hr>
<%= link_to "New Section", new_section_path %>
